<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<aside class="main-sidebar" th:fragment="content">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="@{/adminlte/dist/img/user2-160x160.jpg}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">主菜单</li>
            <li class="treeview active menu-open">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>用户角色</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a th:href="@{/user}"><i class="fa fa-circle-o"></i>用户管理</a></li>
                    <li><a th:href="@{/role}"><i class="fa fa-circle-o"></i>角色管理</a></li>
                    <li><a th:href="@{/permission}"><i class="fa fa-circle-o"></i>权限管理</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>项目管理</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/project/add}"><i class="fa fa-circle-o"></i>创建项目</a></li>
                    <li><a th:href="@{/project}"><i class="fa fa-circle-o"></i>查询项目</a></li>
                </ul>
            </li>
            <!--<li sec:authorize="hasAuthority('PAGE_1')"><a th:href="@{/page1}"><i class="fa fa-circle-o text-red"></i> <span>页面1</span></a></li>-->
            <!--<li sec:authorize="hasAuthority('PAGE_2')"><a th:href="@{/page2}"><i class="fa fa-circle-o text-yellow"></i> <span>页面2</span></a></li>-->
            <!--<li sec:authorize="hasAuthority('PAGE_3')"><a th:href="@{/page3}"><i class="fa fa-circle-o text-aqua"></i> <span>页面3</span></a></li>-->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>