<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="content-wrapper" th:fragment="content">
    <section class="content-header">
        <h1>
            角色管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">角色管理</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="toolbar" class="form-inline">
                            <input type="text" id="keyword" class="form-control">
                            <button type="button" class="btn btn-default    " id="searchBtn">
                                <i class="fa fa-search"></i>
                                搜索
                            </button>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-default" th:href="@{/role/add}">
                                添加角色
                            </button>
                        </div>
                        <table id="dataTable"  class="table table-hover table-responsive" style="table-layout: fixed">
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.modal -->
    <!-- /.content -->

    <script>
        function removeRole(id) {
            layer.msg('确定删除吗？', {
                time: 0 //不自动关闭
                , btn: ['删除', '取消']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        url: '/role/delete?id=' + id,
                        success: function () {
                            $("#dataTable").bootstrapTable("remove", {field: 'id', values: [id]});
                            layer.msg('删除成功', {icon: 6});
                        },
                        error: function () {
                            layer.msg('删除失败', {icon: 5});
                        }
                    })
                }
            });
        }

        $(function () {
            $('.select2').select2();

            $('#dataTable').bootstrapTable({
                url: '/role/list',
                pagination: true,
                queryParams: queryParams,
                sidePagination: 'server',
                dataField: "data",
                toolbar: "#toolbar",
                toolbarAlign: "right",
                columns: [
                    {
                        title: '全选',
                        field: 'select',
                        checkbox: true,
                        width: 25,
                        align: 'center',
                    },
                    {
                        field: 'id',
                        title: 'ID',
                        width: 20,
                        visible: false,
                        align: 'center',
                    },
                    {
                        title: '操作',
                        width: 90,
                        align: 'center',
                        formatter: function (value, row) {
                            return [
                                '<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-default"',
                                ' data-id=' + row.id,
                                ' href="/role/role-permission?id=' + row.id + '"',
                                '>',
                                '<i class="fa fa-key"></i></button>',
                                '<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-default" style="margin-left: 5px"',
                                ' data-id=' + row.id,
                                ' href="/role/edit?id=' + row.id + '"',
                                '>',
                                '<i class="fa fa-edit"></i></button>',
                                '<button type="button" class="btn btn-default btn-xs" style="margin-left: 5px"',
                                'onClick=removeRole(' + row.id + ')>',
                                '<i class="fa fa-remove"></i></button>'
                            ].join('');
                        }
                    },
                    {
                        field: 'role',
                        title: '角色',
                        width: 200,
                        align: 'center',
                    },
                    {
                        field: 'displayName',
                        title: '角色名',
                        width: 300,
                        align: 'center'
                    }
                ]
            });


            $("#searchBtn").click(function () {
                $("#dataTable").bootstrapTable("refresh");
            });

            function queryParams(params) {
                return {
                    pageSize: params.limit,
                    pageNum: params.offset / params.limit + 1,
                    keyword: $("#keyword").val()
                }
            }

        })
    </script>
</div>